// ==========================
// color
// ==========================
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(207, 61%, 53%);
$green: hsl(153, 53%, 53%);
$grey-dark: hsl(0, 0%, 29%);
$grey-light: hsl(0, 0%, 71%);

$colors: (
  "turquoise": hsl(171, 100%, 41%),
  "cyan": hsl(207, 61%, 53%),
  "green": hsl(153, 53%, 53%),
  "grey-dark": hsl(0, 0%, 29%),
  "grey-light": hsl(0, 0%, 71%),
);